body {
	fontsize-family: 21px;
	line-height: 1;
	font-weight: normal;
	color: rgb(0, 0, 0);
	font-family: PTSans, Arial, sans-serif;
}

h2 {
fontsize-family:21px;
line-height: 1;
font-weight: bold;
color: rgb(0, 0, 0);
font-family: PTSans, Arial, sans-serif;
}

h3{
	fontsize-family: 21px;
	line-height: 1;
	font-weight: normal;
	color: rgb(0, 0, 0);
	font-family: PTSans, Arial, sans-serif;
}

h1{
	ontsize-family: 30px;
	line-height: 1;
	font-weight: bolder;
	color: rgb(0, 0, 0);
	font-family: PTSans, Arial. sans-serif;
}